h1 {
  font-family: "Inter";
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 87px;
  letter-spacing: -3px;
}
h2 {
  font-family: "Inter";
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px; /* 125% */
  letter-spacing: -4px;
}


h5 {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
}